
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Twitter</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
    <div id="user_header" style="    position: fixed;
    width: 100%;
    background: white;
    z-index: 9999;
    top: 0;">
      <% if logged_in? %>
        <% unless @user %>
          User: <%= @current_user.name %>
          |
          Following: <%= @current_user.following.count %>
          Followed: <%= @current_user.followers.count %>
        <% else %>
          <div style="display:block;float:left;margin-right:50px">
            User: <%= @user.name %>
            |
            Following: <%= @user.following.count %>
            Followed: <%= @user.followers.count %>
          </div>
          <% if @current_user.following?(@user) %>
            <%= render 'unfollow', user: @user %>
          <% else %>
           <%= render 'follow', user: @user %>
          <% end %>
        <% end %>


        <div style="float:right;margin-right:30px">
          Options:
          <%= link_to 'Logout', logout_path %> |
          <%= link_to 'Users', users_path %> |
          <%= link_to 'New Tweet', new_tweet_path %>
          <% if @user %>
            <%= link_to 'Back', tweets_path %>
          <% end %>
        </div>
      <% end %>
      <hr style="width:100%">
    </div>
    

    <table style="width:100%;margin-top:50px">
     

      <% @tweets.each do |tweet| %>
        <tr>
            <td>
              <div style="background:LightGray;height:50px;paddin-top:5px">
                <%= tweet.text %>
                <small style="float:right;position:relative;top:35px">
                  <font size="1">
                    At: <%= tweet.updated_at%>
                    By: <%= link_to tweet.user.name, user_path(tweet.user) %>
                    <%= link_to 'replies', tweet_path(tweet) %>
                    <% if @current_user==tweet.user %>
                      <%= link_to 'Edit', edit_tweet_path(tweet) %>  
                      <%= link_to 'Destroy', tweet_path(tweet),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
                    <% end %>
                    
                  </font>
                <small>
              </div>
            </td>
            
            <td></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>





