
<!DOCTYPE html>
<html>
  <head>
    <title>Simple Twitter</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
    <div id="user_header" style="    position: fixed;
    width: 100%;
    background: white;
    z-index: 9999;
    top: 0;">
      <% if logged_in? %>
        -------Twitter------- 


        <div style="float:right;margin-right:30px">
          Options:
          <%= link_to 'Logout', logout_path %> |
          <%= link_to 'Users', users_path %> |
          <%= link_to 'New Tweet', new_tweet_path %>
          <% if @user %>
            <%= link_to 'Back', tweets_path %>
          <% end %>
        </div>
      <% end %>
      <hr style="width:100%">
    </div>
    
    <div style="display:block;float:left;width:25%;height:300px;background:white;">
        <style>
          .tweet_profile_header > div{
            padding:10px;
            padding-top:5px;
          }
        </style>
      <% if @user %>
        <div class="tweet_profile_header">
          <div>User: <%= @user.name %></div>
          <div>Following: <%= @user.following.count %></div>
          <div>Followed: <%= @user.followers.count %></div>
          <div>Tweets: <%= @user.tweets.count %></div>
          <% if @current_user.following?(@user) %>
              <%= render 'unfollow', user: @user %>
            <% else %>
              <%= render 'follow', user: @user %>
          <% end %>
        </div>
      <% else %>
        <div>User: <%= @current_user.name %></div>
        <div>Email: <%= @current_user.email %></div>
        <div>Following: <%= @current_user.following.count %></div>
        <div>Followed: <%= @current_user.followers.count %></div>
        <div>Tweets: <%= @current_user.tweets.count %></div>
      <% end %>
      
    </div>
    <table style="display:block;width:100%;margin-top:50px;padding-left:25%;padding-right:25%">
     

      <% @tweets.each do |tweet| %>
        <tr>
            <td>
              <div style="height:50px;padding-top:5px">
                <%= tweet.text %>
                <small style="float:right;position:relative;top:35px">
                  <font size="1">
                    At: <%= tweet.updated_at%>
                    By: <%= link_to tweet.user.name, user_path(tweet.user) %>
                    <%= link_to 'replies', tweet_path(tweet) %>
                    <% if @current_user==tweet.user %>
                      <%= link_to 'Edit', edit_tweet_path(tweet) %>  
                      <%= link_to 'Destroy', tweet_path(tweet),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
                    <% end %>
                    
                  </font>
                </small>
                
              </div>
            <hr>
            </td>
            
            <td></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>





