
<p>
  <strong>Tweet:</strong>
  <%= @tweet.text %>
  <% if @current_user == @tweet.user %>
    <%= link_to 'Edit', edit_tweet_path(@tweet) %>
  <% end %>
</p>
<%= render 'repplies' %>

<%= render 'repplies/form' %>

<%= link_to 'Back', tweets_path %>
